* {
  margin: 0;
}

#mainContainer {
  width: 60vw;
  height: 100vh;
  margin: auto;
  border: 1px solid darkgray;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#topDiv {
  margin: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid darkgray;
}

#gameBoard {
  margin-top: 20px;
  flex-direction: column;
}

.row {
  display: flex;
}

.tile {
  width: 50px;
  height: 50px;
  border: 1px solid darkgray;
  margin: 10px 5px;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.3em;
}

/* Virtual keyboard */
#keyboard {
  margin-top: 40px;
  border: 1px solid lightgray;
  border-radius: 6px;
  box-shadow: inset 1px -1px 15px darkgray;
  padding: 10px;
}

#keyboardTopRow,
#keyboardMidRow,
#keyboardBottomRow {
  display: flex;
  margin-top: 10px;
  justify-content: center;
}

.alphaKey {
  width: 40px;
  height: 40px;
  background-color: lightgray;
  border: 1px solid darkgray;
  border-radius: 8px;
  font-size: 1.7em;

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3px;
}

.alphaKey:hover,
#returnKey:hover,
#enterKey:hover {
  box-shadow: 2px 5px 16px darkgray;
  cursor: pointer;
  font-weight: 600;
}

#returnKey,
#enterKey {
  width: 70px;
  height: 40px;
  background-color: lightgray;
  border: 1px solid darkgray;
  border-radius: 8px;
  font-size: 1.5em;

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3px;
}
